<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= get_title %></title>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!--<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=1"/>-->
  <%= csrf_meta_tags %>
  <%= @og.facebook_og_metas.html_safe if @og %>
  <%= @og.twitter_card_metas.html_safe if @og %>
  <!--[if lt IE 9]>
    <script type="text/javascript">
    var html5 = { 'elements': 'abbr article aside audio bdi data datalist details figcaption figure footer header hgroup mark meter nav output progress section summary time video' };
    </script>
    <%= javascript_include_tag "vendor/html5shiv.js" %>
    <%= javascript_include_tag "vendor/excanvas.min" %>
  <![endif]-->
  <%= javascript_include_tag "jsapp/loader" %>
  <%= stylesheet_link_tag "jsapp/app", :media => "all" %>
  <%= stylesheet_link_tag "vendor/font-awesome", :media => "all" %>
  <!--[if IE 7]>
  <%= stylesheet_link_tag "vendor/font-awesome-ie7", :media => "all" %>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Leckerli+One' rel='stylesheet' type='text/css'>
  <%= include_gon %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">BitReturn</a>
      <div id="user_login_corner_region" class="nav-collapse collapse pull-right">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="flash">
  <% [:notice, :error, :alert].each do |level| %>
    <% unless flash[level].blank? %>
      <div class="alert <%= flash_class(level) %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[level].html_safe %>
      </div>
    <% end %>
  <% end %>
  </div>
  <%= yield %>
</div>
  <footer class="bottom-menu bottom-menu-large bottom-menu-inverse">
    <div class="container">
      <div class="row">
        <div class="span2">
          <br/>
          <br/>
          <a href="/" class="brand">BitReturn</a>
        </div>
        <div class="span5">
          <h6>If you have questions/suggestions/corrections don't hesitate to drop me a message</h6>
          Email: <a href="email:vz@valzav.com">vz@valzav.com</a><br/>
          Skype Id: <a href="skype:clinker?add">clinker</a><br/>
          <br/>
          <h6>If you are interested how BitReturn forecasts Bitcoin network difficulty, find model code on Github:</h6>
          <b><a href="https://github.com/valzav/bitcoin_difficulty_model"><i class="icon-github icon-large"></i>
            https://github.com/valzav/bitcoin_difficulty_model</a></b>
        </div>
        <div class="span5">
          <h6>Please donate if you find this helpful</h6>
          <a class="donate" href="bitcoin:14Mzp4y4BFUW2p1qkzSw2LwgKFbZTCBX8H">14Mzp4y4BFUW2p1qkzSw2LwgKFbZTCBX8H</a>
          <%= image_tag('donate_qr.png', size: '125x125', class: 'donate-img') %>
        </div>
      </div>
    </div>
  </footer>
  <!-- /bottom-menu /large /inverse -->
<%= javascript_tag do %>
  $(function() {
    BitReturn.start({user: gon.user});
  });
<% end %>
<% if Rails.env.production? %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39049605-1']);
  _gaq.push(['_setDomainName', 'www.bitreturn.com']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
<% end %>
</body>
</html>
